In [29]:
import pandas as pd 
import matplotlib.pyplot as plt

garis_kemiskinan_2023 = {
    'province' : 'INDONESIA',
    'year' : [2023],
    'perkotaan': [569299],
    'perdesaan': [525050],
    'perkotaanperdesaan': [550458]
}

pengeluaran_2023 = {
    'province' : 'INDONESIA',
    'year' : [2023],
    'makanan': [769112],
    'nonmakanan': [922338],
    'total': [1691450]
}

ump_2023 = {
    'province' : 'INDONESIA',
    'year' : [2023],
    'min_wage': [2923309.40]
}

upah_2023 = {
    'province' : 'INDONESIA',
    'year' : [2023],
    'feb': [2944541],
    'aug': [3178227]
}

pov_2023 = pd.DataFrame(garis_kemiskinan_2023)
expenses_2023 = pd.DataFrame(pengeluaran_2023)
min_wage_2023 = pd.DataFrame(ump_2023)
wage_2023 = pd.DataFrame(upah_2023)

pov_2023

    province  year  perkotaan  perdesaan  perkotaanperdesaan
0  INDONESIA  2023     569299     525050              550458

In [30]:
pov_2023['average_pov'] = pov_2023[['perkotaan', 'perdesaan', 'perkotaanperdesaan']].mean(axis=1)
pov_2023['max_pov'] = pov_2023[['perkotaan', 'perdesaan', 'perkotaanperdesaan']].max(axis=1)

# Select the required columns
pov_2023 = pov_2023[['province', 'year', 'average_pov', 'max_pov']]

pov_2023

    province  year  average_pov  max_pov
0  INDONESIA  2023     548269.0   569299

In [31]:
expenses_2023 = expenses_2023.drop(columns=['makanan', 'nonmakanan'])
expenses_2023

    province  year    total
0  INDONESIA  2023  1691450

In [32]:
min_wage_2023

    province  year   min_wage
0  INDONESIA  2023  2923309.4

In [33]:
wage_2023

    province  year      feb      aug
0  INDONESIA  2023  2944541  3178227

In [34]:
wage_2023['average_wage'] = wage_2023[['feb', 'aug']].mean(axis=1)
wage_2023 = wage_2023[['province', 'year', 'average_wage']]

wage_2023

    province  year  average_wage
0  INDONESIA  2023     3061384.0

In [35]:
wage_2023['average_wage'] = wage_2023['average_wage']/ 168
wage_2023

C:\Users\vian8\AppData\Local\Temp\ipykernel_21480\2571051892.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wage_2023['average_wage'] = wage_2023['average_wage']/ 168

    province  year  average_wage
0  INDONESIA  2023   18222.52381

In [36]:
pov_2023.to_csv('new_data/pov_2023.csv', index=False)
print('exported pov_2023.df to pov_2023.csv')

expenses_2023.to_csv('new_data/expenses_2023.csv', index=False)
print('exported expenses_2023.df to expenses_2023.csv')

min_wage_2023.to_csv('new_data/min_wage_2023.csv', index=False)
print('exported min_wage_2023.df to min_wage_2023.csv')

wage_2023.to_csv('new_data/wage_2023.csv', index=False)
print('exported wage_2023.df to wage_2023.csv')

exported pov_2023.df to pov_2023.csv
exported expenses_2023.df to expenses_2023.csv
exported min_wage_2023.df to min_wage_2023.csv
exported wage_2023.df to wage_2023.csv