#####  *Questions*: 
1. In total, how many percent of Indonesians are living in poverty? 
2. Trends of Garis Kemiskinan, Pengeluaran, UMP, and Upah within the last 5 years (line chart)? 
   
   *a. UMP vs Upah* 

   *b. Upah vs Pengeluaran* 
   
   *c. Upah vs Garis Kemiskinan (total)*
   
3. Projection of question number 2 (regression, time series)?
4. From the GK, Pengeluaran, UMP, and Upah dataframes, cluster the provinces and explain them in regards to the context of the dataframes. 
   (i.e. the Aceh province is considered in a median state in the context of expenses, but lead in poverty conditions.. blabla)


Dataset : https://www.kaggle.com/datasets/rezkyyayang/pekerja-sejahtera 
(Bisa cek dari gimanapun, tapi gw bakal kerjain pake yang .df.csv semua)

---

Some terms we need to know: 

- **Garis Kemiskinan (GK/gk/poverty threshold)** :
  
    Garis Kemiskinan (GK) merupakan penjumlahan dari Garis Kemiskinan Makanan (GKM) dan Garis Kemiskinan Non Makanan (GKNM). Penduduk yang memiliki rata-rata pengeluaran perkapita per bulan dibawah Garis Kemiskinan dikategorikan sebagai penduduk miskin.

    *The poverty threshold, poverty limit, poverty line, or breadline is the minimum level of income deemed adequate in a particular country. The poverty line is usually calculated by estimating the total cost of one year's worth of necessities for the average adult.*

    ![rumus Garis Kemiskinan](docs\gk_formula.png?raw=true "Garis Kemiskinan Formula")


    Sumber: 
    - image (https://pusaka.magelangkab.go.id/metadata/indikator/detailIndikator/17#:~:text=Garis%20Kemiskinan%20merupakan%20representasi%20dari,dan%20kebutuhan%20pokok%20bukan%20makanan.)
    - interpretasi (https://berkas.dpr.go.id/pa3kn/kamus/file/kamus-20.pdf)

***Data Understanding***

---

Supporting questions: 
1. What is the difference between PERKOTAAN, PERDESAAN, and PERDESAANPERKOTAAN? 
   Inferred theory:
   - Perdesaan = Villages,
   - Perkotaan = Cities, 
   - PERDESAANPERKOTAAN = Suburbs
 - Visualize difference between them in all categories later. By finding the difference between them, considering that if Perdesaan is lowest and Perkotaan is the highest, PerdesaanPerkotaan can be infered to be suburbs.

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import os 

os.listdir('archive')

garis_kemiskinan = pd.read_csv('archive/gk.df.csv')
pengeluaran = pd.read_csv('archive/peng.df.csv')
ump = pd.read_csv('archive/ump.df.csv')
upah  = pd.read_csv('archive/upah.df.csv')

garis_kemiskinan

       provinsi    jenis              daerah  tahun    periode        gk
0          ACEH  MAKANAN           PERKOTAAN   2015      MARET  293697.0
1          ACEH  MAKANAN           PERKOTAAN   2015  SEPTEMBER  302128.0
2          ACEH  MAKANAN           PERKOTAAN   2016      MARET  306243.0
3          ACEH  MAKANAN           PERKOTAAN   2016  SEPTEMBER  319768.0
4          ACEH  MAKANAN           PERDESAAN   2015      MARET  297479.0
...         ...      ...                 ...    ...        ...       ...
5455  INDONESIA    TOTAL           PERDESAAN   2022  SEPTEMBER  513170.0
5456  INDONESIA    TOTAL  PERDESAANPERKOTAAN   2021      MARET  472525.0
5457  INDONESIA    TOTAL  PERDESAANPERKOTAAN   2021  SEPTEMBER  486168.0
5458  INDONESIA    TOTAL  PERDESAANPERKOTAAN   2022      MARET  505468.0
5459  INDONESIA    TOTAL  PERDESAANPERKOTAAN   2022  SEPTEMBER  535547.0

[5460 rows x 6 columns]

In [3]:
garis_kemiskinan['jenis'].unique()

array(['MAKANAN', 'NONMAKANAN', 'TOTAL'], dtype=object)

In [4]:
garis_kemiskinan['daerah'].unique()

array(['PERKOTAAN', 'PERDESAAN', 'PERDESAANPERKOTAAN'], dtype=object)

In [5]:
selected_rows = garis_kemiskinan[
    (garis_kemiskinan['provinsi'] == 'ACEH') & 
    # (garis_kemiskinan['jenis'] == 'MAKANAN') & 
    (garis_kemiskinan['daerah'] == 'PERDESAAN') & 
    (garis_kemiskinan['periode'] == 'MARET') &
    (garis_kemiskinan['tahun'] == 2015)
]

gk_makanan = selected_rows[selected_rows['jenis'] == 'MAKANAN']['gk'].sum()
gk_non = selected_rows[selected_rows['jenis'] == 'NONMAKANAN']['gk'].sum()
gk_total = selected_rows[selected_rows['jenis'] == 'TOTAL']['gk'].sum()

print((gk_makanan + gk_non) == gk_total)
print(selected_rows)
# gk_kota = selected_rows[selected_rows['daerah'] == 'PERKOTAAN']['gk'].sum()
# gk_desa = selected_rows[selected_rows['daerah'] == 'PERDESAAN']['gk'].sum() 
# gk_perkot = gk_desa = selected_rows[selected_rows['daerah'] == 'PERDESAANPERKOTAAN']['gk'].sum()

True
    provinsi       jenis     daerah  tahun periode        gk
4       ACEH     MAKANAN  PERDESAAN   2015   MARET  297479.0
52      ACEH  NONMAKANAN  PERDESAAN   2015   MARET   84638.0
112     ACEH       TOTAL  PERDESAAN   2015   MARET  382117.0

In [6]:
pengeluaran

       provinsi              daerah    jenis  tahun       peng
0          ACEH           PERDESAAN  MAKANAN   2007   195176.0
1          ACEH           PERDESAAN  MAKANAN   2008   218781.0
2          ACEH           PERDESAAN  MAKANAN   2009   247427.0
3          ACEH           PERDESAAN  MAKANAN   2010   275749.0
4          ACEH           PERDESAAN  MAKANAN   2011   308000.0
...         ...                 ...      ...    ...        ...
4615  INDONESIA  PERDESAANPERKOTAAN    TOTAL   2018  1124716.0
4616  INDONESIA  PERDESAANPERKOTAAN    TOTAL   2019  1165240.0
4617  INDONESIA  PERDESAANPERKOTAAN    TOTAL   2020  1225684.0
4618  INDONESIA  PERDESAANPERKOTAAN    TOTAL   2021  1264589.0
4619  INDONESIA  PERDESAANPERKOTAAN    TOTAL   2022  1327782.0

[4620 rows x 5 columns]

In [7]:
pengeluaran['jenis'].unique()

array(['MAKANAN', 'NONMAKANAN', 'TOTAL'], dtype=object)

In [8]:
pengeluaran['daerah'].unique()

array(['PERDESAAN', 'PERKOTAAN', 'PERDESAANPERKOTAAN'], dtype=object)

In [18]:
pengeluaran_update = pengeluaran[pengeluaran['tahun'] >= 2015]

pengeluaran_update

       provinsi              daerah    jenis  tahun       peng
8          ACEH           PERDESAAN  MAKANAN   2015   395136.0
9          ACEH           PERDESAAN  MAKANAN   2016   412251.0
10         ACEH           PERDESAAN  MAKANAN   2017   494150.0
11         ACEH           PERDESAAN  MAKANAN   2018   506656.0
12         ACEH           PERDESAAN  MAKANAN   2019   520759.0
...         ...                 ...      ...    ...        ...
4615  INDONESIA  PERDESAANPERKOTAAN    TOTAL   2018  1124716.0
4616  INDONESIA  PERDESAANPERKOTAAN    TOTAL   2019  1165240.0
4617  INDONESIA  PERDESAANPERKOTAAN    TOTAL   2020  1225684.0
4618  INDONESIA  PERDESAANPERKOTAAN    TOTAL   2021  1264589.0
4619  INDONESIA  PERDESAANPERKOTAAN    TOTAL   2022  1327782.0

[2520 rows x 5 columns]

In [9]:
selected_rows = pengeluaran[
    (pengeluaran['provinsi'] == 'ACEH') & 
    # (pengeluaran['jenis'] == 'MAKANAN') & 
    (pengeluaran['daerah'] == 'PERDESAAN') & 
    # (pengeluaran['periode'] == 'MARET') &
    (pengeluaran['tahun'] == 2015)
]

peng_makanan = selected_rows[selected_rows['jenis'] == 'MAKANAN']['peng'].sum()
peng_non = selected_rows[selected_rows['jenis'] == 'NONMAKANAN']['peng'].sum()
peng_total = selected_rows[selected_rows['jenis'] == 'TOTAL']['peng'].sum()

print((peng_makanan + peng_non) == peng_total)
print(selected_rows)
# peng_kota = selected_rows[selected_rows['daerah'] == 'PERKOTAAN']['peng'].sum()
# peng_desa = selected_rows[selected_rows['daerah'] == 'PERDESAAN']['peng'].sum() 
# peng_perkot = peng_desa = selected_rows[selected_rows['daerah'] == 'PERDESAANPERKOTAAN']['peng'].sum()

True
   provinsi     daerah       jenis  tahun      peng
8      ACEH  PERDESAAN     MAKANAN   2015  395136.0
24     ACEH  PERDESAAN  NONMAKANAN   2015  260183.0
40     ACEH  PERDESAAN       TOTAL   2015  655319.0

In [10]:
ump

      provinsi  tahun        ump
0         ACEH   2002   330000.0
1         ACEH   2003   425000.0
2         ACEH   2004   550000.0
3         ACEH   2005   620000.0
4         ACEH   2006   820000.0
..         ...    ...        ...
730  INDONESIA   2018  2268874.0
731  INDONESIA   2019  2455662.0
732  INDONESIA   2020  2672371.0
733  INDONESIA   2021  2684743.0
734  INDONESIA   2022  2729463.0

[735 rows x 3 columns]

In [19]:
ump_update = ump[ump['tahun'] >= 2015]

ump_update

      provinsi  tahun        ump
13        ACEH   2015  1900000.0
14        ACEH   2016  2118500.0
15        ACEH   2017  2500000.0
16        ACEH   2018  2700000.0
17        ACEH   2019  2916810.0
..         ...    ...        ...
730  INDONESIA   2018  2268874.0
731  INDONESIA   2019  2455662.0
732  INDONESIA   2020  2672371.0
733  INDONESIA   2021  2684743.0
734  INDONESIA   2022  2729463.0

[280 rows x 3 columns]

In [11]:
upah

      provinsi  tahun   upah
0         ACEH   2015  11226
1         ACEH   2016  13627
2         ACEH   2017  14809
3         ACEH   2018  13814
4         ACEH   2019  15065
..         ...    ...    ...
275  INDONESIA   2018  15275
276  INDONESIA   2019  15823
277  INDONESIA   2020  17696
278  INDONESIA   2021  18089
279  INDONESIA   2022  17542

[280 rows x 3 columns]

***Historical Trend Analysis***

--- 

Since the earliest year that is available in all dataset is 2015, the year is chosen for consistency analysis.

In [21]:
print(f'''
Garis Kemiskinan DataFrame: 
{garis_kemiskinan.head(10)}
\n
Pengeluaran DataFrame:
{pengeluaran_update.head(10)}
\n
UMP DataFrame
{ump_update.head(10)}
\n
Upah DataFrame:
{upah.head(10)}''')

Garis Kemiskinan DataFrame:
  provinsi    jenis              daerah  tahun    periode        gk
0     ACEH  MAKANAN           PERKOTAAN   2015      MARET  293697.0
1     ACEH  MAKANAN           PERKOTAAN   2015  SEPTEMBER  302128.0
2     ACEH  MAKANAN           PERKOTAAN   2016      MARET  306243.0
3     ACEH  MAKANAN           PERKOTAAN   2016  SEPTEMBER  319768.0
4     ACEH  MAKANAN           PERDESAAN   2015      MARET  297479.0
5     ACEH  MAKANAN           PERDESAAN   2015  SEPTEMBER  306737.0
6     ACEH  MAKANAN           PERDESAAN   2016      MARET  315697.0
7     ACEH  MAKANAN           PERDESAAN   2016  SEPTEMBER  324854.0
8     ACEH  MAKANAN  PERDESAANPERKOTAAN   2015      MARET  296406.0
9     ACEH  MAKANAN  PERDESAANPERKOTAAN   2015  SEPTEMBER  305428.0


Pengeluaran DataFrame:
   provinsi     daerah       jenis  tahun      peng
8      ACEH  PERDESAAN     MAKANAN   2015  395136.0
9      ACEH  PERDESAAN     MAKANAN   2016  412251.0
10     ACEH  PERDESAAN     MAKANAN   2017  494150.0
11     ACEH  PERDESAAN     MAKANAN   2018  506656.0
12     ACEH  PERDESAAN     MAKANAN   2019  520759.0
13     ACEH  PERDESAAN     MAKANAN   2020  566947.0
14     ACEH  PERDESAAN     MAKANAN   2021  597940.0
15     ACEH  PERDESAAN     MAKANAN   2022  633566.0
24     ACEH  PERDESAAN  NONMAKANAN   2015  260183.0
25     ACEH  PERDESAAN  NONMAKANAN   2016  272829.0


UMP DataFrame
          provinsi  tahun        ump
13            ACEH   2015  1900000.0
14            ACEH   2016  2118500.0
15            ACEH   2017  2500000.0
16            ACEH   2018  2700000.0
17            ACEH   2019  2916810.0
18            ACEH   2020  3165031.0
19            ACEH   2021  3165031.0
20            ACEH   2022  3166460.0
34  SUMATERA UTARA   2015  1625000.0
35  SUMATERA UTARA   2016  1811875.0


Upah DataFrame:
         provinsi  tahun   upah
0            ACEH   2015  11226
1            ACEH   2016  13627
2            ACEH   2017  14809
3            ACEH   2018  13814
4            ACEH   2019  15065
5            ACEH   2020  18099
6            ACEH   2021  17037
7            ACEH   2022  16772
8  SUMATERA UTARA   2015  10618
9  SUMATERA UTARA   2016  11646

*PLOT TRENDS*
1. GK - TOTAL on PERKOTAAN, PERDESAAN, PERDESAANPERKOTAAN 
2. GK - MAKANAN NONMAKANAN on PERKOTAAN, PERDESAAN, PERDESAANPERKOTA
3. PENGELUARAN - TOTAL on PERKOTAAN, PERDESAAN, PERDESAANPERKOTAAN
4. PENGELUARAN - MAKANAN NONMAKAN on PERKOTAAN, PERDESAAN, PERDESAANPERKOTAAN
5. UMP
6. Upah